{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="icon" type="image/png" href="static/favicon.png"> -->
<link rel="stylesheet" href="static/snana_summary.css">
<script src="static/snana_summary.js" type="module"></script>
<script src="static/snana_summary_start.js" type="module"></script>
{% endblock %}

{% block title %}SNANA Roman Sim Summary{% endblock %}

<h1>SNANA Roman Sim Summary</h1>

{% block pagebody %}
<div name="pagebody" id="pagebody"></div>
{% endblock %}
